<div class="container">
<div class="row">
<div class="col-md-8">
<h1>@<%= current_user.username %>'s Feed</h1>
	    <% @following_tweets.each do |tweet| %>
		    	<div class="panel panel-default">
	          		<div class="panel-heading">
		    			<%= image_tag tweet.user.avatar.url, size:25, class: "user-pic-nav" %>
		    			@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %> • <%= time_ago_in_words(tweet.created_at) %> ago
		    		</div>
		    		<div class="panel-body">
		    			<%= tweet.message.html_safe %>
		    		</div>
		    	</div>
	    <% end %>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-3">
      <%= render "epiccenter/user_profile.html.erb" %>
    </div>
	</div>
</div>
