<div class="container">

<div>
    <h1><%= @tag.phrase %></h1>
</div>

<div class="row">
  <!-- a place for current user stats -->
  <div>
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
      <div class="panel panel-default">
        <div class="panel-heading"> 
  	    <%= "@#{tweet.user.username}" %>
          <% if current_user.following.include?(tweet.user.id) %>
              <%= link_to "Unfollow", unfollow_path(id: tweet.user.id), class: "btn btn-danger", style: "color: #fff" %>
          <% else %>
              <% if current_user.id != tweet.user.id %>
            <%= link_to "Follow", now_following_path(id: tweet.user.id), class: "btn btn-primary", style: "color: #fff" %>
              <% end %>
          <% end %>
  	    • <%= time_ago_in_words(tweet.created_at) %> ago
        </div>
    	<div class="panel-body">
    	    <%= tweet.message.html_safe %>
    	</div>
      </div>
    <% end %>
   </div>
</div>
</div>